/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a index file per style scope.
 *
 */

// for Bootstrap4
@import "bootstrap";

.navbar-nav a{
  color: #48ACF0;
}

.navbar-item {
}

body {
  padding-top: 70px;
  background-color: #f0f0f0;
  font-family: YuGothic,"Tsukushi B Round Gothic",'Yu Gothic',"Hiragino Kaku Gothic ProN",sans-serif;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.c-container {
  display: flex;
  justify-content: space-between;
}

#contact {
  display: none;
  width: 100%;
  max-width: 660px;
}