/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a index file per style scope.
 *
 */

.navbar-nav a{
  color: #48ACF0 !important;
}

.navbar-item {
}

body {
  padding-top: 70px;
  background-color: #f0f0f0;
  font-family: YuGothic,"Tsukushi B Round Gothic",'Yu Gothic',"Hiragino Kaku Gothic ProN",sans-serif;
}

.white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.c-container {
  display: flex;
  justify-content: space-between;
}

#contact {
  display: none;
  width: 100%;
  max-width: 660px;
}

//home.scss
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link {
  color: rgba(18, 17, 68, 0.9);
  text-decoration: none;
}
a:visited {
  color: rgba(18, 17, 68, 0.9);
}


.resize img {
  width: 100%;
}

.bb {
  color: green;
}

.box17{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
.box17:before, .box17:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
  margin: 0;
  padding: 0;
}

#about {
  margin-top : 2.5em;
}

h1 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

h1:before, h1:after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

h1:before {left:0;}
h1:after {right: 0;}

.headline {
  font-size: 2rem;
}

.main-container {
  font-family: "American Typewriter","Tsukushi B Round Gothic",YuGothic,'Yu Gothic',"Hiragino Kaku Gothic ProN",sans-serif;
}

.article {
  margin-bottom: 0;
  padding: 20px;
  background-color: #f1f1f1;

  li {
    list-style: none;
  }
  .date {
    color: #4d4d4d;
    font-size: 18px;
  }
  .event {
    font-size: 24px;
  }
  .place {
    color: #4d4d4d;
    font-size: 18px;
  }
  .detail {
    font-size: 14px;
  }
  .detail2 {
    font-size: 15px;
  }

}

.alter_color {
  margin-top: 0;
  background-color: rgba(235, 235, 235, 0.49);
}

#top_page {
  margin-top: -70px;
  padding-top: 70px;
}

#about,#news {
  margin-top: -100px;
  padding-top: 100px;
}

#gallery {
  margin-top: -100px;
  padding-top: 150px;
}
